<!-- Modal -->
  <div class="modal fade" id="modifyTodoModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style=" background: #354555; color: #ffffff;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="font-weight : bolder;"> To Do 수정 </h4>
          <input type='hidden' id='sprint_no' value=''>
        </div>
        <div class="modal-body">
        
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <label for="userStoryList" style="font-size : 20px;"> User Story </label>
          </div>
          <div class="col-xs-8">
            <select id="DoModifyUser" style="width : 100%; height : 30px;">
            	<!-- DOUserStory -->
            </select>
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <label for='Content' style="font-size : 20px;">Content</label>
          </div>
          <div class="col-xs-8">
            <textarea id='DoContent' name="Content" style="resize:none; width : 100%; height : 150px;"></textarea>
          </div>
        </div>
        <br>
        
        <div class="row">
        	<div class="col-xs-2 col-xs-offset-1">
            <label style="font-size : 20px;">Status</label>
          </div>
          <div class="col-xs-3">
            <select id="DoStatus" name='DoStatus' style="width : 100%; height:30px;">
              <!-- DoStatus -->
            </select>
          </div>
          <div class="col-xs-2 col-xs-offset-1">
            <label for='workerList' style="font-size : 20px;">작업자</label>
          </div>
          <div class="col-xs-3">
            <select id="DoModifyWorker" name='workerList' style="width : 100%; height:30px;">
              <!-- DoworkerList -->
            </select>
          </div>
        </div>
        
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-2 col-xs-offset-4">
              <button type="button" class="btn btn-warning DoModifyComp" style="width : 100%; font-size : 15px; font-weight : bold;">생성</button>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="width : 100%; font-size : 15px; font-weight : bold;background-color: #333;
                color: #ffffff;">취소</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<script>

		//SOCKET Open
		var socket = io.connect();
		//투두 수정모달
		
		
		//초기 셋팅 시작합니다----------------------------------------
		//DoModify_UserStory 불러오기
		function DoModify_UserStory(){
			socket.emit('DoModify_UserStory', {
				project_release_no : <%=project_release_no%>
			});
		};
		//DoModify_UserStory 명 부르기
		socket.on('DoModify_UserStory', function (data) {
			$('#DoModifyUser').html('');
			var text = $('#DoModifyUser');
			var line = '';
			//전체 조회 후 받은 데이터
			var da = data.data;
				
			if(da.length > 0){
				for(var i = 0; i < da.length; i++){
					line += "<option value='"+da[i].user_story_no+"'>"+da[i].title+"</option>"
				};
				
         $(line).appendTo(text);
			};
		});
		
		//DoModify_Worker 불러오기
		function DoModify_Worker(){
			socket.emit('DoModify_Worker', {
				project_list_no : <%=project_list_no%>
			});
		};
		//DoDetail_UserStory 명 부르기
		socket.on('DoModify_Worker', function (data) {
			$('#DoModifyWorker').html('');
			var text = $('#DoModifyWorker');
			var line = '';
			//전체 조회 후 받은 데이터
			var list = data.list;
			var user = data.user;
			if(user.length > 0){
				for(var i = 0; i < user.length; i++){
					for(var j = 0; j < list.length; j++){
						if(user[i].user_no == list[j].user_no){
							line += "<option value='"+user[i].user_no+"'>"+list[j].name+"</option>"
						}
						}
				};
				
         $(line).appendTo(text);
			};
		});
		//DoModify_Status
		function DoModify_Status(){
			$('#DoStatus').html('');
			var text = $('#DoStatus');
			var line = '';
				
			for(var i = 0; i < 3; i++){
				if(i == 0){
					line += "<option value='"+i+"'>Todo</option>"
				} else if(i == 1){
					line += "<option value='"+i+"'>Doing</option>"
				}	else if(i == 2){
					line += "<option value='"+i+"'>Done</option>"
				}			
			}
			$(line).appendTo(text);
		};
				
		//수정 시작합니다 ----------------------------------------
		function DoModify_Comp(){ 
		$('.DoModifyComp').on('click', function(){
			socket.emit('DoModify', {
				sprint_back_log_no : $('#sprint_no').val(),
				user_story_no : $('#DoModifyUser').val(),
				user_no : $('#DoModifyWorker').val(),
				content : $('#DoContent').val(),
				status : $('#DoStatus').val()
			});
			$(modifyTodoModal).modal('hide');
			$('#sprint_no').val('');
			$('#DoModifyUser').val('');
			$('#DoModifyWorker').val('');
			$('#DoContent').val('');
			$('#DoStatus').val('');
			/** 태스크 새로고침 */
			todoLi();
			});
		}
		
		//초기 셋팅
		DoModify_UserStory();
		DoModify_Worker();
		DoModify_Status();
		DoModify_Comp();
</script>