<!-- Modal -->
<div id="planningPokerScoreModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"
        style="background: #354555; color: #ffffff;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="font-weight: bolder;">플래닝 점수</h4>
      </div>
      <div class="modal-body">
        
        <div class="row ScoreHere">
          
        </div>
          
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-2 col-xs-offset-5">
            <button type="button" class="btn btn-default" data-dismiss="modal"
              style="width: 100%; font-size: 15px; font-weight: bold;  color: #333;">확인</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
	//SOCKET Open
	var socket = io.connect();
	//스프린트모달
	//선택된 스프린트 호출
	socket.on('PokerDetail', function (data){
		var poker = data.poker;
		var user = data.user;
		var list = data.list;
		
		console.log(poker);
		console.log(user);
		console.log(list);
		
		$('.ScoreHere').html('');
		var ScoreHere = $('.ScoreHere');
		var ScoreList = '';
		
		if(poker.length > 0){
			for(var i = 0; i < poker.length; i++){
				if(poker[i].score != '0.5' && poker[i].score != '1' && poker[i].score != '2' && poker[i].score != '5'
				&& poker[i].score != '10'){
				ScoreList +=	"<div class='col-xs-2 col-xs-offset-1'>"
        ScoreList +=  	"<input type='text' class='col-xs-12 text-center noPadding'"
        ScoreList +=    "style='background-color:transparent; border:none; width: 100%; font-weight: bold; font-size: 17px;'"
        ScoreList +=    "disabled value='유저명'>"
        ScoreList +=  "</div>"
        ScoreList +=  "<div class='col-xs-3'>"
        ScoreList +=  	"<input type='text' class='col-xs-12 text-center' id='Poker_User'"
        ScoreList +=    "style='background-color:transparent; border:none; width: 100%; font-weight: bold; font-size: 17px;'"
        ScoreList +=    "disabled value='"
        
        for(var j = 0; j < user.length; j++){
        	for(var k = 0; k < list.length; k++){
        		if(poker[i].user_no == user[j].user_no == list[k].user_no){
        			ScoreList += list[k].name;
        		}
        	}
        }
        
        ScoreList +=		"'>"
        ScoreList +=  "</div>"
        ScoreList +=  "<div class='col-xs-2 col-xs-offset-1'>"
        ScoreList +=  	"<input type='text' class='col-xs-12 text-center noPadding'"
        ScoreList +=    "style='background-color:transparent; border:none; width: 100%; font-weight: bold; font-size: 17px;'"
        ScoreList +=    "disabled value='점수'>"
        ScoreList +=  "</div>"
        ScoreList +=  "<div class='col-xs-3'>"
        ScoreList +=  	"<input type='text' class='col-xs-12 text-center' id='Poker_Score'"
        ScoreList +=    "style='background-color:transparent; border:none; width: 100%; font-weight: bold; font-size: 17px;'"
        ScoreList +=    "disabled value='"+poker[i].score+"'>"
        ScoreList +=  "</div>"
				}
			};
		};
		
		$(ScoreList).appendTo(ScoreHere);
		
	});
	
</script>