<script>
		//SOCKET Open
		var socket = io.connect();
		//유저스토리 스크립트
			//초기 세팅 - UserStory
			//불러 온다 UserStory
			function StoryLi() {
				//var cookieName = '${cookie.name.value}';
				//cookieName = decodeURIComponent(cookieName);
				//var user = cookieName;
				$('.HereToUserStory').html('');
				socket.emit('StoryList', {
					project_release_no : <%=project_release_no%>
				});
			};
			
			//불러서 넣는다 UserStory
			socket.on('StoryList', function (data){
				$('.HereToUserStory').html('');
				var text = $('.HereToUserStory');
				var line = '';
				//전체 조회 후 받은 데이터
				var da = data.data;
				
				if(da.length > 0){
					for(var i = 0; i < da.length; i++){
						line += "<div class='panel panel-gray'>"	
						line += 	"<div class='panel-heading'>"
          	line +=			"<div class='row'>"
						line += 			"<div class='col-xs-6 text-left'>"
            line +=   			"<div class='content'>"
            line +=     			"<a class='fa fa-pencil modifyStory' value='"+da[i].user_story_no+"' data-toggle='modal' data-target='#modifyUserStoryModal'></a>"
            line +=   			"</div> </div>"
           	line += 			"<div class='col-xs-6 text-right'>"
            line +=  				"<div class='content'>"
            line +=     			"<a class='fa fa-trash-o delStory' value='"+da[i].user_story_no+"'></a>"
            line +=   					"</div> </div>"
            line += 			"<div class='col-xs-10 col-xs-offset-1 text-center'>"
            line +=  				"<div class='content'><a class='detailStory' value='"+da[i].user_story_no+"' data-toggle='modal' data-target='#detailUserStoryModal'>"+da[i].title+"</a></div>"
            line += 	"</div> </div> </div> </div>"
					};
					
          $(line).appendTo(text);
          deleStory();
          detailStoryLi();
          ModifyStoryLi();
				};
				
			});
			//초기세팅 끝 ->> UserStory
			//초기세팅 ->> Category
			//불러 온다 카테고리
			function CallCategoryList() {
				//var cookieName = '${cookie.name.value}';
				//cookieName = decodeURIComponent(cookieName);
				//var user = cookieName;
				$('.Category').html('');
				socket.emit('categoryList', {
					scrum_no : <%=scrum_no%>
				});
			};
			
			//불러서 넣는다 카테고리
			socket.on('cateList', function (data){
				
				$('.Category').html('');
				var text = $('.Category');
				var line = '';
				//전체 조회 후 받은 데이터
				var da = data.data;
				
				if(da.length > 0){
					for(var i = 0; i < da.length; i++){
						line += "<option value='"+da[i].category_no+"'>"+da[i].title+"</option>"
					};
					
          $(line).appendTo(text);
				};
				
			});
			//초기세팅 끝 ->> Category
			
			function deleStory() {
			//지운다 UserStory
			$('.delStory').on('click',	function(e) {
				e.preventDefault();
				var push = $(this).attr('value');
				socket.emit('StoryDelete', {
					user_story_no : push
				});
				
				/** 모든곳에 새로고침을 달아야함 추가 / 수정 / 삭제 */
				$('.HereToUserStory').html('');
					StoryLi();
				});
			};
			
			//유저스토리 디테일 
			function detailStoryLi() {
				$('.detailStory').on('click', function(e){
					var push = $(this).attr('value');
					socket.emit('StoryDetail', {
						user_story_no : push
					});
				});
			};
			
			//유저스토리 불러서 넣기
			var cateNo;
			socket.on('StoryDetail', function (data){
				var da = data.data[0];
				cateNo = da.category_no;
				$('.detailStoryTitle').val(da.title);
				$('.detailStoryAs_a').val(da.as_a);
				$('.detailStoryI_want').val(da.i_want);
				$('.detailStorySo_That').val(da.so_that);
				$('.detailStoryPriority').val(da.priority);
				$('.detailStoryTime').val(da.working_time);
				CateDetail();
			});
			//Category 불러오기
			function CateDetail(){
				socket.emit('cateDetail', {
					category_no : cateNo
				});
				cateNo = '';
			};
			//카테고리 명 부르기
			socket.on('StoryCate', function (data) {
				var da = data.data[0];
				$('.detailStorycate').val(da.title);
			});
			//디테일 끝
			
			//유저스토리 수정
			function ModifyStoryLi() {
				$('.modifyStory').on('click', function(e){
					var push = $(this).attr('value');
					socket.emit('ModifyStoryLoad', {
						user_story_no : push
					});
				});
			};
			
			//유저스토리 불러서 넣기
			socket.on('ModifyStoryLoad', function (data){
				var da = data.data[0];
				$('.ModifyStory_No').val(da.user_story_no);
				$('.ModifyStoryTitle').val(da.title);
				$('.ModifyStoryAs_a').val(da.as_a);
				$('.ModifyStoryI_want').val(da.i_want);
				$('.ModifyStorySo_That').val(da.so_that);
				$('.ModifyStoryPriority').val(da.priority);
				$('.ModifyStoryCategory').val(da.category_no);
			});
			//수정 끝
			StoryLi();
</script>